img{
    width: 100%;
    height: auto;
}
#menu{
    margin-top: 30px;
    margin-left: 970px;
    display:flex;
    font-size: 16pt;
}
a{
    color: white;
    padding: 18px;
    text-decoration: none;
    margin-top: -30px;
    
}
body{
    background-image: url(planos.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#botoes{
    margin-top: 600px;
    margin-left: 200px;
   

}
.login-btn{
    margin-left: 220px;
}
#plouro{
    border-radius: 35px;
    background-color: blue;
    width: 200px;
    height: 50px;
    color: white;
    margin-left: 200px;
    margin-top: -10px;

}
#plpra{
    border-radius: 35px;
    background-color: blue;
    width: 200px;
    height: 50px;
    color: white;
    margin-left: 53px;
    margin-top: -10px;

}
#plbro{
    border-radius: 35px;
    background-color: blue;
    width: 200px;
    height: 50px;
    color: white;
    margin-left: 57px;
    margin-top: -10px;

}