body{
    background-color: black;
}

#menu{
    margin-top: 20px;
    margin-left: 1000px;
    display:flex;
    font-size: 16pt;
}  
a{
    color: white;
    padding: 18px;
    text-decoration: none;
    margin-top: -30px;
    
    
}
.b{
    width: 470px;
    height: 300px;

}
.a{
    width: 470px;
    height: 300px;
}
img{
    margin-left: 25px;
    height: 150px;
    margin-top: 25px;
}